* {
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-family: "TT Lakes";
    background-color: #F8F8F8;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url("fonts/TTLakes-Medium.ttf");
}

@font-face {
    font-family: "TT Lakes Bold";
    src: url("fonts/TTLakes-Bold.ttf");
}

@media (max-width: 500px), (min-width: 500px) and (max-width: 1119.98px) {
    .upper-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height: 88px;
    }

    .pages {
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }

    .header__upper-menu {
        border-bottom: solid 1px #b8ffec;
        padding: 0 15px;
    }

    .upper-menu__repair_lg, .upper-menu__status_lg {
        display: none;
    }

    .content__pages::after {
        content: "";
        position: absolute;
        right: 0;
        height: 40px;
        width: 30px;
        background: linear-gradient(90deg, transparent, rgba(248, 248, 248, 1) 80%);
    }

    .pages__link:last-child {
        margin-right: 30px;
    }

    .content__pages::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 15px;
        background: linear-gradient(270deg, transparent, rgba(248, 248, 248, 1) 60%);
    }

    .pages__link:first-child {
        margin-left: 15px;
    }
    
    .upper-menu__burger {
        background-image: url("img/burger.svg");
    }
    
    .upper-menu__logo {
        height: 51px;
        width: 97px;
        position: relative;
        bottom: 6px;
    }
    
    .upper-menu__call {
        background-image: url("img/call.svg");
    }
    
    .upper-menu__chat {
        background-image: url("img/chat.svg");
    }
    
    .upper-menu__profile {
        background-image: url("img/profile.svg");
        margin-right: 15px;
    }

    .upper-menu__status-button {
        background-image: url("img/checkstatus.svg");
    }
    
    .upper-menu__repair-button {
        background-image: url("img/repair.svg");
    }
    
    .upper-menu__repair::before {
        content: "";
        height: 32px;
        width: 2px;
        position: absolute;
        display: block;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin: 5px 0 0 -15px;
    }
    
    .upper-menu__left-side {
        background-color: white;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    
    .upper-menu__right-side {
        background-color: white;
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .upper-menu {
        gap: 30px;
    }

    .info {
        flex-wrap: wrap;
    }

    .info__image-of-company {
        width: 100%;
    }

    .info__description {
        width: 100%;
    }

    .upper-menu__call {
        display: none;
    }
    
    .upper-menu__chat {
        display: none;
    }
    
    .upper-menu__profile {
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 1119.98px) {
    .info {
        flex-wrap: nowrap;
    }
    
    .content__info {
        margin: 0;
    }

    .info__text-box {
        width: 50%;
    }

    .info__image-box {
        width: 50%;
        margin-right: 15px;
    }

    .info__image-of-company {
        border-radius: 6px;
    }

    .upper-menu__logo {
        margin-left: 15px;
    }

    .upper-menu__logo::before{
        content: "";
        height: 32px;
        width: 2px;
        position: absolute;
        display: block;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin: 10px 0 0 -15px;
    }
}

@media (min-width: 1120px) {
    .upper-menu, .upper-menu__logo {
        display: none;
    }

    .pages {
        flex-wrap: wrap;
    }

    .info {
        flex-wrap: nowrap;
    }

    .upper-menu__status-button {
        background-image: url("img/checkstatus-lg.svg");
    }
    
    .upper-menu__repair-button {
        background-image: url("img/repair-lg.svg");
    }

    .info__image-of-company {
        border-radius: 6px;
    }

    .info__text-box {
        width: 100%;
    }

    .info__image-box {
        width: 100%;
    }

    .content__info {
        margin: 15px 30px 15px 15px;
    }

    .content__pages {
        margin-left: 30px;
    }    
}

button {
    cursor: pointer;
}

.upper-menu_lg {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.pages {
    display: flex;
    width: 100vw;
    gap: 15px;
    list-style: none;
}

.info {
    display: flex;
}

.upper-menu__right-side_lg {
    display: flex;
    gap: 150px;
    margin-right: 75px;
}

.upper-menu__right-side_lg .upper-menu__item span {
    font-family: "TT Lakes Medium";
    display: block;
    position: relative;
    right: 120px;
    width: 120px;
    height: 40px;
    align-content: center;
}

.upper-menu__item {
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.upper-menu__logo-link {
    background-color: white;
}

.pages__link {
    text-wrap: nowrap;
    font-size: 16px;
}

.pages__link > a {
    display: block;
    padding: 5px;
}

.content__title {
    align-self: flex-start;
    font-size: 16px;
    font-family: "TT Lakes Bold";
    padding: 5px;
    margin: 15px;
    line-height: 40px;
}

.content__title::before {
    content: "";
    position: absolute;
    display: block;
    height: 40px;
    width: 5px;
    background-color: #41F6D7;
    background-size: cover;
    border-radius: 0 5px 5px 0;
    margin-left: -20px;
}

.content__pages {
    align-self: flex-start;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.info__read-more {
    align-self: flex-start;
    padding-left: 30px;
}

.info__read-more::before {
    content: "";
    background-image: url("img/read-more.svg");
    background-repeat: no-repeat;
    display: block;
    width: 8px;
    height: 11px;
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
}

.read-more__text {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    display: block;
}

.info__description {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.info__image-of-company {
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
}

.info__text-box {
    margin: 15px 15px 0 15px;
}

.pages__link_active > a {
    background-color: white;
    border-radius: 6px;
    border: 2px solid #b8ffec;
}